body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--bg);
    transition: all 0.2s;
    margin: 0px;
}

.banner {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    position: relative;
}

a {
    color: inherit;
    text-decoration: underline;
}

.jm {
    background-image: url(../images/default_banner.png);
}

.mobjm {
    display: none;
}

.mainimg {
    max-width: 70vh;
}

.im {
    font-size: 25px;
    font-weight: 600;
}

.newbuttons {
    display: inline-block;
    padding: 12px 30px;
    transition: all 0.2s;
    border: 2px solid var(--buttonbor);
    border-radius: 1.5vh;
    text-decoration: none;
    color: var(--cardtex);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    font-weight: 600;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.newbuttons:hover {
    border-radius: 2.5vh;
}

.shad {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);
}

a:visited:not([href]),
a:hover:not([href]),
a:active:not([href]) {
    color: inherit;
}

img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 60px);
    display: block;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 95%;
    }
}

.card {
    padding: 2vh;
    background-color: var(--cards);
    color: var(--cardtex);
    border-radius: 1.5vh;
}

.lights {
    color: white;
}

.secondary {
    color: var(--secondarytext);
}

.secon-card {
    color: var(--cardsecondary);
}

.trans {
    background: var(--blurbg);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.sl {
    min-height: 50vh;
}

.ctr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nbar {
    display: block;
    flex-direction: row;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
    top: 0;
    color: var(--text);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    transition: all 0.2s;
}

.blurbg {
    display: block;
    flex-direction: row;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 15;
    top: 0;
    bottom: 0;
    transition: all 0.2s;
    background-color: #ffffff00;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    transition: all 0.2s;
}

#navionm {
    display: none;
}

.actions {
    margin-right: auto;
    margin-left: 5vh;
}

.navimg {
    width: 5vh;
    transition: all 0.2s;
    text-decoration: none;
}

p {
    font-size: 1.15rem;
}

.t {
    font-size: 2.25rem;
}

.ts {
    font-size: 1.85rem;
}

.active {
    background-color: #a0c1e1;
    color: white;
}

.btnnav {
    display: inline-block;
    padding: 8px 25px;
    transition: all 0.2s;
    border-radius: 1.5vh;
    text-decoration: none;
    margin-right: 2vh;
}

.btn {
    background-color: #7eafe0;
    display: inline-block;
    padding: 8px 25px;
    transition: all 0.2s;
    border-radius: 1.5vh;
    text-decoration: none;
    margin-right: 2vh;
}

.btnnav:hover {
    border-radius: 2.5vh;
    cursor: pointer;
}

.btn:hover {
    background-color: #559ce4;
    border-radius: 2.5vh;
    cursor: pointer;
}

.inactive:hover {
    border-radius: 2.5vh;
    background-color: #0000006b;
}

.banner {
    box-shadow: none;
}

.decono {
    text-decoration: none;
}

.spacer {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.banim {
    max-width: 500px;
}

#mobinavman {
    display: none;
}

.mobi {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    z-index: 3;
    color: var(--text);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    transition: all 0.2s;
}

.ver {
    vertical-align: middle;
}

.verb {
    vertical-align: bottom;
}

.items {
    margin-top: 6.5rem;
    margin-right: 0.15rem;
}

.item {
    transition: all 0.2s;
    display: block;
    text-align: right;
    padding: 0.75rem 1.65rem;
    text-decoration: none;
    border-bottom: 2px solid #4f4f4f36;
}

#content {
    position: fixed;
    right: -20vh;
    transition: all 0.2s;
    color: var(--cardtex);
}

.footimg {
    width: 20vh;
}

.mobilecenters {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#menufoot {
    text-align: center;
    position: fixed;
    transition: all 0.2s;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.z {
    display: inline-block;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
}

.footcra {
    display: block;
    flex-direction: row;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    display: inline-block;
    margin-right: 2vh;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.verts {
    vertical-align: middle;
}

.landphoto {
    border-radius: 2vh;
    max-width: 100%;
}

.head {
    font-weight: bold;
    font-size: larger;
}

.alignctr {
    align-items: center;

}

.topper {
    margin-top: 9vh;
}

.imgmain {
    max-width: 20vh;
    border-radius: 50%;
}

.center {
    display: block;
    margin: auto;
}

.block {
    box-sizing: border-box;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 844px) {
    .banim {
        display: none;
    }

    .mobjm {
        display: inherit;
        max-width: 75%;
    }

    #navman {
        display: none;
    }

    #mobinavman {
        display: block;
    }

    .actions {
        margin: 0;
    }

    .btmmspa {
        margin-bottom: 10.4vh;
    }

    .row {
        display: block;
    }

    .right {
        text-align: left;
    }

    .landphoto {
        max-width: 95%;
    }
}